.slot_1{
    background: url(../img/svyatoi.png);
}
.slot_2{
    background: url(../img/schoolboy.png);
}
.slot_3{
    background: url(../img/gurgen.png);
}
.slot_4{
    background: url(../img/beglar.png);
}
.slot_5{
    background: url(../img/iremi.png);
}
.slot_6{
    background: url(../img/burdul.png);
}
.slot_7{
    background: url(../img/zzd.png);
}