@import "_variables.scss";
@import "_slots.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    overflow: hidden;
    border-radius: 12px;
    font-family: 'Ubuntu', sans-serif;
}
.body{
    background: #30336b;
}
.title{
    width: 100%;
    margin: 2rem auto;
    color: #fff;
    @include flex(row, center, flex-start);
}
.slot-box{
    max-width: 90vh;
    height: 80vh;
    margin: 0 auto;
    padding: 1rem 0;
    background: #686de0;
    @include flex(column, space-between, center);
}
.slot-box__head{
    @include flex(row, space-between, center);
    width: 80vh;
    height: 20vh;
    padding: 0 1rem;
    background: #30336b;
    .slot-result{
        width: 40vh;
        height: 15vh;
        background: #f9ca24;
        @include flex(row, center, center);
        .slot-result__text{
            font-size: 2rem;
            font-weight: bold;
        }
    }
    .slot-score{
        width: 25vh;
        height: 15vh;
        background: #f9ca24;
        @include flex(row, center, center);
        .slot-score__text{
            font-size: 2rem;
            font-weight: bold;
            color: #000;
        }
    }
}
.slot-box__body{
    width: 80vh;
    height: 30vh;
    background: #fff;
    padding: 0 1rem;
    @include flex(row, flex-start, center);

}
.slot-box__footer{
    width: 80vh;
    height: 20vh;
    background: #30336b;
    padding: 0 1rem;
    @include flex(row, space-between, center);
    .rules{
        width: 30vh;
        height: 18vh;
        background: #f9ca24;
        @include flex(row, center, center);
    }
    .slot-spin{
        @include flex(row, center, center);
        width: 15vh;
        height: 15vh;
        border-radius: 50%;
        font-size: 2rem;
        font-weight: bold;
        background: #eb4d4b;
        border:3px solid #f0932b;
        color: #000;
        transition: .3s ease;
        &:hover{
            color: #fff;
        }
    }
}
.slot{
    width:26.6vh;
    height:25vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border-radius: 0;
    border-right: 1px solid rgb(192, 192, 192);
    &:last-child{
        border-right: 0;
    }
}
.rules{
    img{
        max-width: 80%;
        height: auto;
    }
}
.author{
    cursor: pointer;
    position: absolute;
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    right:2rem;
}

@media screen and (max-width: 700px){
    .slot-box{
        width: 80% !important;
        height: 28rem !important;
    }
    .slot-box__head{
        width: 90% !important;
        height: 7rem !important;
    }
    .slot-result{
        width: 50% !important;
        height: 5rem !important;
    }
    .slot-result__text{
        font-size: 1rem !important;
    }
    .slot-score{
        width: 30% !important;
        height: 5rem !important;
    }
    .slot-score__text{
        font-size: 1rem !important;
    }
    .slot-box__body{
        width: 90% !important;
        height: 10rem !important;
    }
    .slot-box__footer{
        width: 90% !important;
        height: 5rem !important;
    }
    .rules{
        width: 50% !important;
        height: 80% !important;
        img{
            max-width: 60% !important;
        }
    }
    .slot-spin{
        width: 20% !important;
        height: 80% !important;
        font-size: 1rem !important;
    }
}
@media screen and (max-width: 425px){
    .slot-box{
        height: 23rem !important;
    }
    .slot-box__head{
        height: 5rem !important;
    }
    .slot-result{
        height: 3rem !important;
    }
    .slot-score{
        height: 3rem !important;
    }
    .slot-box__body{
        height: 7rem !important;
    }
    .slot-box__footer{
        height: 5rem !important;
    }
    .slot-spin{
        width: 30% !important;
        height: 90% !important;
    }
}